{% extends 'base.html' %}

{#{% block header %}
    <!-- <h1 id="h-one-subj">
        {% block title %}Hlasování{% endblock %}
    </h1> -->
{% endblock %}#}

{% block content %}
    
    <div class="d-votes">
        <form action="/proposal/{{ proposal['id'] }}/vote" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div>{{ form.decision.label}}{{ form.decision() }}</div>
            <div>{{ form.comment.label}}{{ form.comment() }}</div>

            <input type="submit" value="Hlasovat">
        </form>
    </div>
{% endblock %}