{% extends 'base.html' %}

{% block title %}Hlasování{% endblock %}

{% block content %}
    <h2>Hlasování o návrhu: {{ proposal.subject }}</h2>
    <hr>
    <div class="d-votes form-container">
        <form action="/proposal/{{ proposal['id'] }}/vote" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div>
                {{ form.decision.label }}
                <div class="radio-group">
                    {{ form.decision() }}
                </div>
            </div>
            
            <div>
                {{ form.comment.label }}
                {{ form.comment(class="form-control", placeholder="Volitelný komentář...") }}
            </div>

            <input type="submit" value="Odeslat závazný hlas">
        </form>
    </div>
{% endblock %}