#p-desc {
    white-space: pre-wrap;
}

.d-one-detail-row {
    display: flex;
    justify-content: space-between;
}

/* .p-one-detail {
    margin-right: 1vw;
} */

@media (max-width: 768px) {
    #d-one-bot {
        flex-direction: column;
    }
}

#d-one-decision-box {
    display: flex;
}

.d-one-decision-col {
    width: 50%;
    display: inline-block;
}

.d-one-decision-col > p {
    text-align: center;
}

#s-one-undecided {
    color: darkslategrey;
}

#s-one-accepted {
    color: green;
}

#s-one-rejected {
    color: red;
}

#h-one-subj {
    display: inline;
}

header span {
    margin-left: 10px;
}