.t-proposals {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.tr-proposal {
    width: 100%;
}

.tr-proposal:hover {
    #background-color: aliceblue;
    filter: brightness(85%);
}

.s-author-created {
    float: right;
}

.tr-proposal-red {
    background-color: lightpink;
}
.tr-proposal-green {
    background-color: lightgreen;
}
