.t-proposals {
    margin-top: 10px;
    width: 100%;
}

.tr-proposal {
    width: 100%;
}

.tr-proposal:hover {
    background-color: aliceblue;
}

.s-author-created {
    float: right;
}

.tr-proposal-red {
    background-color: lightred;
}
.tr-proposal-green {
    background-color: lightgreen;
}
