{# <div id="d-one-decision-row">
    <h2>
        Stav:
        {% if accepted == None %}
            <span id="s-one-undecided">nerozhodnuto</span>
        {% elif accepted == True %}
            <span  id="s-one-accepted">schvaleno</span>
        {% elif accepted == False %}
            <span  id="s-one-rejected">zamitnuto</span>
        {% endif %}
    </h2>
</div> #}

{% if can_vote %}
<div class="d-vote-btn">
    <form action="/proposal/{{ data['proposal_id'] }}/vote" method="get">
        <button type="submit">chci hlasovat</button>
    </form>
</div>
{% endif %}

<div id="d-one-decision-box">
    <div class="d-one-decision-col">
        <p>Pro</p>
        <ul>
            {% for f in voted_for %}
            <li>
                <a href="/user/{{ f['id']}}">
                    {{ f['name'] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-one-decision-col">
        <p>Proti</p>
        
        <ul>
            {% for a in voted_against %}
            <li>
                <a href="/user/{{ a['id']}}">
                    {{ a['name'] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
