{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ proposal.subject }}{% endblock %}</h1>   
    <p>
       <small>návrh <b>{{ proposal.id }}</b> pro <strong>{{ HkfreeRole(proposal.type).long_name }}</strong></small>
    </p>
{% endblock %}

{% block content %}
    {% if proposal.deleted %}
    <div class="d-deleted-banner">
        🗑 <b>Návrh byl smazán {{ proposal.deleted.strftime('%d.%m.%Y v %H:%M') }}</b>
        {% if deletion_event %}<br>{{ deletion_event.comment }}{% endif %}
    </div>
    {% endif %}
    <div>
        <div id="txt-desc">{{ proposal.description | trim | urlize(nofollow=False, target='_blank') }}</div>
        <hr>
        <div id="d-one-bot">
            <p>Odhadovaná cena: <b>{{ "{:,}".format(proposal.cost) }} Kč</b></p>
            <p>Počet hlasů pro schválení: {{ proposal['acceptance_treshold'] }}</p>
            <p>
                Vložil  <a href="/user/{{ proposal.author_id }}">{{ proposal.author_name }}</a>
                dne {{ proposal.created.strftime('%d.%m.%Y v %H:%M') }}
            </p>
        </div>
        <hr>
        {% include 'proposals/decisions.html' %}
    </div>
    <hr>
    
    {% if user_id in users_change_state and not proposal.deleted %}
    <div>
        <b>Změnit stav na:</b> 
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='Objednáno') }}">Objednáno</a>
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='K Převzetí') }}">K Převzetí</a> 
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='Předáno') }}">Předáno</a>
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='Nic') }}">Nic</a>
    </div>
    <hr>
    {% endif %}

    <h3>Historie návrhu</h3>
    <hr>
    {% for event in events %}
        <div>
            <span class="event-time-log">
            {{ event['created'].strftime('%A %d.%m.%Y %H:%M')}}
            </span> -
            {% if event.decision is none %}
                komentář od <a href="/user/{{event.author_id}}">{{ event.author_name }}</a>:
                <p class="p-comment">{{ event.comment | urlize(nofollow=False, target='_blank') }}</p>
            {% else %}
                hlas <b>{{ '✅' if event.decision else '❌'}}</b> od <a href="/user/{{event.author_id}}">{{ event.author_name }}</a>
                {% if event.comment %}
                    s komentářem:
                    <p class="p-comment">{{ event.comment | urlize(nofollow=False, target='_blank') }}</p>
                {% endif %}
            {% endif %}
        </div>
        <hr>
    {% else %}
        <p>Zatím se zde nic nestalo.</p>
    {% endfor %}
{% endblock %}
