{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ '🔒' if proposal.decided else '' }}{{ proposal.subject }}{% endblock %}</h1>   
    <p>
        pro <strong>{{ HkfreeRole(proposal.type).long_name }}</strong>
    </p>
{% endblock %}

{% block content %}
    <div>
        <div id="txt-desc">{{ proposal.description | trim | urlize(nofollow=False, target='_blank') }}</div>
        <hr>
        <div id="d-one-bot">
            <p>Odhadovaná cena: {{ "{:,}".format(proposal.cost) }} Kč</p>
            <p>
                Vložil  <a href="/user/{{ proposal.author_id }}">{{ proposal.author_name }}</a>
                dne {{ proposal.created.strftime('%d.%m.%Y v %H:%M') }}
            </p>
        </div>
        <hr>
        {% include 'proposals/decisions.html' %}
    </div>
    <hr>
    
    {% if user_id in users_change_state %}
    <div>
        <b>Změnit stav na:</b> 
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='Objednáno') }}">Objednáno</a>
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='K Převzetí') }}">K Převzetí</a> 
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='Předáno') }}">Předáno</a>
        <a class="state-btn" href="{{ url_for('proposals.change_state', proposal_id=proposal.id, new_state='Nic') }}">Žádný</a>
    </div>
    <hr>
    {% endif %}

    <h3>Historie návrhu</h3>
    <hr>
    {% for event in events %}
        <div>
            <strong>{{ event.created.strftime('%d.%m.%Y v %H:%M') }}</strong> -
            {% if event.decision is none %}
                Komentář od {{ event.author_name }}:
                <p class="p-comment">{{ event.comment | urlize(nofollow=False, target='_blank') }}</p>
            {% else %}
                Hlasoval(a) {{ '✔' if event.decision else '✖'}} {{ event.author_name }}
                {% if event.comment %}
                    s komentářem:
                    <p class="p-comment">{{ event.comment | urlize(nofollow=False, target='_blank') }}</p>
                {% endif %}
            {% endif %}
        </div>
        <hr>
    {% else %}
        <p>Zatím se zde nic nestalo.</p>
    {% endfor %}
{% endblock %}