{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
{% endblock head %}

{% block header %}
    <h1>{% block title %}Přehled{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="d-row-toggle">
        |    
        <a href="/overview/{{ 'so' if filter['vv'] else 'vv+so' }}">
            <span id="toggle_vv">
                {% if filter["vv"] %}✔{% else %}✖{% endif %}
            </span>
            <label for="toggle_vv">VV</label>
        </a>
        |
        <a href="/overview/{{ 'vv' if filter['so'] else 'vv+so' }}">
            <span id="toggle_so">
                {% if filter["so"] %}✔{% else %}✖{% endif %}
            </span>
            <label for="toggle_so">SO</label>
        </a>
        |
    </div>
    <table class="t-proposals">
        <tbody>
            {% for p in proposals %}
	    	<tr class="tr-proposal {{ 'tr-proposal-green' if p['accepted'] else 'tr-proposal-red' }}">
                    <td>
                        <a href="{{ url_for('proposals.one_proposal', proposal_id=p['id']) }}">
                            <b>{{ p['subject'] }}</b>
                        </a>
                    </td>
                    <td>
                        {{ "{:,}".format(p['cost']) }},-
                    </td>
                    <td>
                        <a href="/user/{{ p['user_id'] }}">{{ p['name'] }}</a>
                        @ {{ p['created'].strftime('%A %d.%m.%Y %H:%M') }}
                    </td>
                    <!-- <p>
                        {{ p['description'] | truncate(50) }}
                    </p> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
