{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
{% endblock head %}

{% block header %}
    <h1 id="h-one-subj">
        {% block title %}Uživatel {{ user['name'] }}{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <small>id: {{ user['id'] }} | email: {{ user['email'] }} </small>
    <br>
    <br>
    {% for event in timeline %}
        {% if event['decision'] == None and  event['comment'] == None %} 
            {{ event['created'].strftime('%A %d.%m.%Y %H:%M')}}
            <br>
            + navrh
            <a href="{{ url_for('proposals.one_proposal', proposal_id=event['proposals_id']) }}">
                {{ event['subject'] }}
            </a> 
        {% else %}
            {{ event['created'].strftime('%A %d.%m.%Y %H:%M')}}
            <br>
            + hlas {{ '✔' if event['decision'] else '✖'}}
            na návrhu 
            <a title="{{ event['events_subject'] }}" href="{{ url_for('proposals.one_proposal', proposal_id=event['proposal_id']) }}">
                {{ event['events_subject'] | truncate(20) }}
            </a>
            {% if event['comment'] %}
                s komentářem {{ event['comment'] | truncate(40) }}
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}

{% endblock %}
