{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
{% endblock head %}

{% block header %}
    <h1 id="h-one-subj">
        {% block title %}Timeline {{ user_event['author_name'] }}{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    {% for event in timeline %}
        <span class="event-time">
            {{ event['created'].strftime('%A %d.%m.%Y %H:%M')}}
        </span>
        {% if event['decision'] == None and event['comment'] == None %} 
            <br>
            + navrh
            <a href="{{ url_for('proposals.one_proposal', proposal_id=event['proposals_id']) }}">
                {{ event['subject'] }}
            </a> 
        {% elif event['decision'] == None and event['comment'] != None %}
            <br>
            + komentář {{ event['comment'] | truncate(40) }} k návrhu
            <a title="{{ event['events_subject'] }}" href="{{ url_for('proposals.one_proposal', proposal_id=event['proposal_id']) }}">
                {{ event['events_subject'] | truncate(40) }}
            </a>
        {% else %}
            <br>
            + hlas {{ '✔' if event['decision'] else '✖'}}
            k návrhu 
            <a title="{{ event['events_subject'] }}" href="{{ url_for('proposals.one_proposal', proposal_id=event['proposal_id']) }}">
                {{ event['events_subject'] | truncate(40) }}
            </a>
            {% if event['comment'] %}
                s komentářem {{ event['comment'] | truncate(40) }}
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}

{% endblock %}
